.subheadingHomepage {
    background-color: purple;
    border: 2px gold;
}

header {
    border: 3px solid black;

}

.container {
  text-align: center; /* Centers the list block within the container */
}
ul {
  display: inline-block; /* Allows text-align center to work on the ul */
  text-align: left; /* Aligns the list text to the left */
  padding: 0;
}


#menu {
    background-color: purple;
}